:root{
	--color-body: #1c1c1c;
	--color-error: #E31010;
	--color-error-shadow: red;
	--color-success: #00a135;
	--color-success-shadow: #00b347;
	--color-font: #f0f0f0;
	--color-link-shadow: #282DFF;
	--color-border-shadow: #2ecc71;
	--color-nav: #2427D1;
	--color-link-hover: #2427D1;
	--color-border-input: #3498db;
	--color-border-input-hover: #2ecc71;
	--color-box-submit: rgba(90, 204, 138, .1);
	/* FUENTES TAMAÑO Y TIPO */
	--font-titulo: 'PT Sans', sans-serif;
	--font-cuerpo: 'Roboto', sans-serif;
	--font-titulo-size: 25px;
	--font-cuerpo-size: 18px;
	--font-link-size: 12px;
}

*{
	padding: 0;
	margin: 0;
}

body{
	background: var(--color-body);
	color: var(--color-font);
	/*background: #F3F3F3;*/
}

#error{
	display: block;
	text-align: center;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: var(--font-cuerpo);
	color: var(--color-font);
	font-size: var(--font-cuerpo-size);
	background: var(--color-error);
	box-shadow: 0px 0px 20px var(--color-error-shadow);
}

#success{
	display: block;
	text-align: center;
	padding: 10px;
	width: 50%;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: var(--font-cuerpo);
	color: var(--color-font);
	font-size: var(--font-cuerpo-size);
	background: var(--color-success);
	box-shadow: 0px 0px 20px var(--color-success-shadow);
}

.error-box{
	width: 100%;
	text-align: center;
}
.error-box h1{
	margin-top: 5%;
	font-size: 300px;
	margin-bottom: 5px;
}
.error-box p{
	font-size: 40px;
	margin-bottom: 5px;
	font-weight: 600;
}

.error-box .error{
	font-size: 25px;
	background: none;
}

.content{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content .registrarse{
	width: 60%;
	border: 2px solid #fff;
	box-sizing: border-box;
	padding: 10px;
	overflow: hidden;
	box-shadow: 0px 0px 12px #f8f8f8;
}

.registrarse h1{
	font-family: var(--font-titulo);
	font-size: var(--font-titulo-size);
	text-align: center;
	color: var(--color-cuerpo);
	text-shadow: 0px 0px 15px var(--color-link-shadow);
	text-transform: uppercase;
	letter-spacing: 3px;
}


.registrarse a{
	text-decoration: none;
	margin-top: 10px;
	font-family: var(--font-cuerpo);
	font-size: var(--font-link-size);
	color: var(--color-cuerpo);
	margin-bottom: 15px;
}

.registrarse a:hover{
	text-shadow: 0px 0px 15px var(--color-link-shadow);
	text-decoration: underline;
}

.iniciarSesion{
	width: 40%;
	border: 2px solid #fff;
	box-sizing: border-box;
	padding: 10px;
	overflow: hidden;
	box-shadow: 0px 0px 12px #f8f8f8;
}

.iniciarSesion .form-group{
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.iniciarSesion a{
	text-decoration: none;
	margin-top: 10px;
	font-family: var(--font-cuerpo);
	font-size: var(--font-link-size);
	color: var(--color-cuerpo);
	margin-bottom: 15px;
}

.iniciarSesion a:hover{
	text-shadow: 0px 0px 15px var(--color-link-shadow);
	text-decoration: underline;
}

.iniciarSesion h1{
	font-family: var(--font-titulo);
	font-size: var(--font-titulo-size);
	text-align: center;
	color: var(--color-cuerpo);
	text-shadow: 0px 0px 15px var(--color-link-shadow);
	text-transform: uppercase;
	letter-spacing: 3px;
}

.iniciarSesion p{
	margin-top: 10px;
}

.content .registrarse .form-group{
	float: left;
	width: calc(100% / 2);
	margin-top: 5px;
	margin-bottom: 5px;
}

.registrarse form input[type="submit"]{
	display: block;
	width: 80%;
}

.form-group label{
	display: inline-block;
	text-align: right;
	font-family: var(--font-cuerpo);
	font-size: var(--font-cuerpo-size);
}

input{
	border: 0;
	background: none;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 2px solid var(--color-border-input);
	padding: 5px;
	width: 200px;
	outline: none;
	color: var(--color-font);
	font-family: var(--font-cuerpo);
	font-size: var(--font-cuerpo-size);
	transition: 0.25s;
}
input:focus{
	border-bottom: 2px solid var(--color-border-input-hover);
}

input[type="submit"]{
	background: none;
	display: block;
	border: 2px solid var(--color-border-input);
	padding: 5px;
	width: 60%;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	outline: none;
	color: var(--color-font);
	font-family: var(--font-cuerpo);
	font-size: var(--font-cuerpo-size);
}
input[type="submit"]:hover{
	border: 2px solid var(--color-border-input-hover);
	background: var(--color-border-input-hover);
	box-shadow: 0 5px 15px 15px var(--color-box-submit);
}
/* -- CONTENEDOR HOME --*/
.content-home{
	display: grid;
	grid-template-columns: 300px 2fr 300px;
	grid-template-rows: minmax(10%,10%) 1fr;

	grid-template-areas: "header header header"
						 "nav contenido  friends";
}

.content-home{
	width: 100%;
	height: 100vh;

}

.content-home > div{
	display: block;
}

.content-home .header{
	display: flex;
	padding: 15px;
	text-align: center;
	align-items: center;
	justify-content: space-between;
	grid-area: header;
	box-sizing: border-box;
	border-bottom: 2px solid #f00888;
}

.content-home .header nav a{
	font-style: var(--font-cuerpo);
	color: var(--color-cuerpo);
	font-size: var(--font-cuerpo-size);
	padding: 5px;
	text-decoration: none;
}

.content-home .nav{
	/*background: var(--color-nav);*/
	box-sizing: border-box;
	grid-area: nav;
}

.content-home .nav label{
	display: block;
	width: 40%;
	height: auto;
	margin: auto;
	overflow: hidden;
	margin-top: 5%;
	border-radius: 105px;
	border: 1px solid #fff;
	box-shadow: 0px 0px 12px var(--color-border-shadow);
}

.content-home .nav label img{
	display: block;
	width: 100%;
	max-width: 1000px;
	height: auto;
	box-sizing: border-box;
}

.content-home .nav a{
	display: block;
	padding: 5px;
	height: 50px;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	margin-top: 10px;
	color: var(--color-cuerpo);
	text-decoration: none;
	text-transform: capitalize;
	text-shadow: 0px 0px 12px var(--color-link-shadow);
}

.content-home .nav ul li a{
	text-align: left;
	margin-left: 20px;
}

.content-home .contenido{
	grid-area: contenido;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 20px;
}

.cont-post{
	background: yellow;
	width: 80%;
	margin: auto;
	margin-top: 10px;
	border-radius: 5px;
	grid-column: span 2;
}

.cont-post p{
	display: block;
	box-sizing: border-box;
	padding: 10px;
	text-align: center;
}

.cont-post form{
	width: 100%;
}

.cont-post form textarea{
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: 10px;
	outline: none;
	border: none;
	resize: none;
	border-radius: 6px;
}

.cont-post form textarea:focus{
	border: 2px solid #0ff0d0;
}

.cont-post form input[type="file"]{
	width: 15%;
	background: lightgreen;

}

.post{
	grid-column: span 4;
	width: 80%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	border: 2px solid #fff;
	box-shadow: 0px 0px 8px var(--color-border-shadow);
}

.post .datos{
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 10px;
	grid-column: span 2;
}

.post .datos a{
	text-decoration: none;
	font-size: var(--font-cuerpo-size);
	font-style: var(--font-cuerpo);
	color: var(--color-cuerpo);
	text-shadow: 0px 0px 12px var(--color-link-shadow);
}

.post .datos p{
	font-size: var(--font-cuerpo-size);
	font-style: var(--font-cuerpo);
}

.post .cont{
	grid-column: span 2;
	margin-bottom: 5px;
}

.post .cont p{
	box-sizing: border-box;
	padding: 10px;
	font-style: var(--font-cuerpo);
	font-size: 15px;
}

.post .cont img{
	display: block;
	width: 50%;
	height: auto;
	margin: auto;

}

.post .like{
	grid-column: span 2;
	background: red;
}
.post button{
	display: block;
	width: 100%;
	height: 30px;
}

.content-home .friends{
	grid-area: friends;
}

.content-home .friends #listAmigos li{
	display: flex;
	padding: 10px;
	justify-content: space-between;
}

.content-home .friends #listAmigos li a{
	display: block;
	padding: 5px;
	height: 50px;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	margin-top: 10px;
	color: var(--color-cuerpo);
	text-decoration: none;
	text-transform: capitalize;
	text-shadow: 0px 0px 12px var(--color-link-shadow);
}

.chat{
	width: 100%;
	grid-column: span 2;
}

.chat .mensajes{
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	overflow-y: scroll;
}

.chat .mensajes .mensaje1{
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 10px;
	width: 200px;
	max-width: 200px;
}

.chat .mensajes .mensaje2{
	padding: 10px;
	width: 200px;
	max-width: 200px;
	text-align: right;
}

.chat .formChat form{
	width: 100%;
}

.chat .formChat input{
	width: 80%;
	m-a
}

/* -- BOX PARA LOS ESTILOS DE BUSCAR AMIGOS Y AMIGOS -- */
.box{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
}

.box.active{
	visibility: visible;
}

.box-content{
	width: 50%;
	height: 360px;
	padding: 20px;
	background: #000;
}

.box-content .btn-cerrar-box{
	display: block;
	text-align: right;
	padding: 5px;
	font-family: var(--font-cuerpo);
	font-size: var(--font-titulo-size);
	color: #000;
}

.box-content .buscador input[type="text"]{
	width: 100%;
	outline: 1px solid #fff;
	border: none;
	border-radius: 5px;
}

.box-content .buscador input[type="text"]:focus{
	box-shadow: 0px 0px 15px var(--color-border-shadow);
}

.box-content .pop-list .datos-usuario{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	margin-bottom: 10px;
	outline: 1px solid #fff;
	box-sizing: border-box;
	border-bottom: 2px solid var(--color-border-shadow);
	box-shadow: 5px 5px 6px gray;
}

.box-content .pop-list .datos-usuario a{
	display: block;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	color: var(--color-cuerpo);
	text-decoration: none;
	text-transform: capitalize;
	text-shadow: 0px 0px 12px var(--color-link-shadow);
}

@media screen and (max-width: 720px){
	.content-home{
		grid-template-areas: "header header header"
							 "nav nav nav"
							 "contenido contenido contenido"
							 "friends friends friends";
	}
	.form-group > label{
		display: block;
		text-align: center;
	}
	.content .registrarse .form-group{
		display: block;
		width: 100%;
	}
	.content .registrarse,
	.content .iniciarSesion{
		width: 100%;
		text-align: center;
	}
}