:root{
	--color-body: #1c1c1c;
	--color-error: #E31010;
	--color-error-borde: rgba(255, 31, 31, .4);
	--color-font: #f0f0f0;
	--color-link: #282DFF;
	--color-link-hover: #2427D1;
	--color-border-input: #3498db;
	--color-border-input-hover: #2ecc71;
	--color-box-submit: rgba(90, 204, 138, .1);
	/* FUENTES TAMAÑO Y TIPO */
	--font-titulo: 'PT Sans', sans-serif;
	--font-cuerpo: 'Roboto', sans-serif;
	--font-titulo-size: 25px;
	--font-cuerpo-size: 18px;
	--font-link-size: 12px;
}

*{
	padding: 0;
	margin: 0;
}

body{
	background: var(--color-body);
	color: var(--color-font);
	/*background: #F3F3F3;*/
}

#error{
	display: block;
	text-align: center;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: var(--font-cuerpo);
	color: var(--color-font);
	font-size: var(--font-cuerpo-size);
	background: var(--color-error);
	box-shadow: 0 2px 12px 6px var(--color-error-borde);
}

.error-box{
	width: 100%;
	text-align: center;
}
.error-box h1{
	margin-top: 5%;
	font-size: 300px;
	margin-bottom: 5px;
}
.error-box p{
	font-size: 40px;
	margin-bottom: 5px;
	font-weight: 600;
}

.error-box .error{
	font-size: 25px;
	background: none;
}

.content{
	width: 50%;
	border: 2px solid var(--color-font);
	margin: auto;
	margin-top: 5%;
	padding: 5px;
	box-shadow: 0 10px 30px 40px rgba(255,255,255, .1);
}

.content-form{
	width: 50%;
	margin: auto;
}


.iniciarSesion a{
	display: block;
	text-decoration: none;
	margin-top: 10px;
	font-family: var(--font-cuerpo);
	font-size: var(--font-link-size);
	color: var(--color-link);
	margin-bottom: 15px;
}

.iniciarSesion a:hover{
	color: var(--color-link-hover);
	text-decoration: underline;
}

.iniciarSesion h1{
	font-family: var(--font-titulo);
	font-size: var(--font-titulo-size);
	text-align: center;
}

.form-group{
	display: block;
	width: 100%;
	padding: 5px;
	margin-bottom: 8px;
}

.form-group label{
	display: inline-block;
	text-align: left;
	font-family: var(--font-cuerpo);
	font-size: var(--font-cuerpo-size);
}

input{
	border: 0;
	background: none;
	display: inline-block;
	margin-top: 10px;
	border-bottom: 2px solid var(--color-border-input);
	padding: 5px;
	width: 200px;
	outline: none;
	color: var(--color-font);
	font-family: var(--font-cuerpo);
	font-size: var(--font-cuerpo-size);
	transition: 0.25s;
}
input:focus{
	border-bottom: 2px solid var(--color-border-input-hover);
}

input[type="submit"]{
	border: 0;
	background: none;
	display: inline-block;

	border: 2px solid var(--color-border-input);
	padding: 5px;
	width: 200px;
	margin: auto;
	margin-top: 10px;
	outline: none;
	color: var(--color-font);
	font-family: var(--font-cuerpo);
	font-size: var(--font-cuerpo-size);
	transition: 0.25s;
}
input[type="submit"]:hover{
	border: 2px solid var(--color-border-input-hover);
	background: var(--color-border-input-hover);
	/*box-shadow: 0 5px 15px 15px var(--color-box-submit);*/
}
/* style home */
.content-home{
	width: 100%;
	height: 100vh;
}

.nav{
	width: 35%;
	height: 100Vh;
	position: fixed;
	overflow: hidden;
	background: blue;
}

.nav label{
	display: block;
	width: 30%;
	height: 24%;
	margin: auto;
	overflow: hidden;
	margin-top: 5%;
	border-radius: 105px;
	border: 1px solid black;
}

.nav label img{
	display: block;
	width: 100%;
}

.nav a{
	display: block;
	padding: 5px;
	height: 50px;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	color: #f4f4f4;
	text-decoration: none;
}

.nav ul li a{
	display: block;
	padding: 5px;
	height: 50px;
	border-bottom: 1px solid #f4f4f4;
	text-align: center;
	color: #f4f4f4;
}

a:hover{
}

.contenido{
	width: 65%;
	position: fixed;
	margin-left: 35%;
	background: green;
}

.cont-post{
	width: 70%;
	margin: auto;
	margin-top: 15px;
	border-radius: 10px;
	border: 1px solid #fff;
}

.cont-post p{
	display: block;
	width: 100%;
	padding: 5px;
	text-align: left;
	text-transform: capitalize;
}